<?xml version="1.0" encoding="utf-8" ?>
<phpunit bootstrap="./vendor/autoload.php">
    <testsuites>
        <testsuite name="My Project - TestSuite">
            <directory>./tests</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory suffix=".php">./system</directory>
            <exclude>
                <directory>./tests/*/*Bundle/Resources</directory>
                <directory>./tests/*/*Bundle/Tests</directory>
                <directory>./tests/*/Bundle/*Bundle/Resources</directory>
                <directory>./tests/*/Bundle/*Bundle/Tests</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>